# Assignment 4: Exploratory Data Analysis 1: Continuous Variables

### Read in Datasets: Training, Address, Latlons

In [2]:
# reading in data
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

# reading in training data
blight_train = pd.read_csv('readonly/train.csv', encoding='cp1252')
addresses = pd.read_csv('readonly/addresses.csv')
latlons = pd.read_csv('readonly/latlons.csv')

# checking training data
blight_train.head()

C:\Users\drewn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (11,12,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

#### Combining Datasets

In [2]:
# merge 1: setting indices to ticket id
blight_train = blight_train.set_index('ticket_id')
addresses = addresses.set_index('ticket_id')

# merge 1: merging on ticket id
blight_train = pd.merge(blight_train, addresses, how = 'inner',
                    left_index=True, right_index=True)

# resetting index, to retain ticket id in data
blight_train = blight_train.reset_index()

# merge 2: setting address to upper case
blight_train['address'] = blight_train['address'].str.upper()
latlons['address'] = latlons['address'].str.upper()

# merge 2: setting indices to address
blight_train = blight_train.set_index('address')
latlons = latlons.set_index('address')

# merge 2: merging on address
blight_train = pd.merge(blight_train, latlons, how = 'inner',
                    left_index=True, right_index=True)

# resetting index
blight_train = blight_train.reset_index()
blight_train.head()

,address,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,...,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance,lat,lon
0,"0 10TH ST, DETROIT MI",24928,Department of Public Works,"Hayes, Billy J","XXX, XXX XXX",0.0,10TH ST,NaN,NaN,XXXX,...,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,42.325689,-83.06433
1,"0 10TH ST, DETROIT MI",71887,Health Department,"Zizi, Josue","0000000000000000000000, 000000000000000000000",0.0,10TH ST,NaN,NaN,0,...,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,42.325689,-83.06433
2,"0 10TH ST, DETROIT MI",157969,Department of Public Works,"Baker, Kenneth","VOID, VOID",0.0,10TH ST,NaN,NaN,VOID,...,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,42.325689,-83.06433
3,"0 10TH ST, DETROIT MI",168151,Department of Public Works,"Zizi, Josue","0000000000000, 00000000000000",0.0,10TH ST,NaN,NaN,0,...,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,42.325689,-83.06433
4,"0 10TH ST, DETROIT MI",195261,Department of Public Works,"Zizi, Josue","VOID, VOID",0.0,10TH ST,NaN,NaN,VOID,...,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,42.325689,-83.06433

In [4]:
# checking for data types
blight_train.dtypes

address                        object
ticket_id                       int64
agency_name                    object
inspector_name                 object
violator_name                  object
violation_street_number       float64
violation_street_name          object
violation_zip_code            float64
mailing_address_str_number    float64
mailing_address_str_name       object
city                           object
state                          object
zip_code                       object
non_us_str_code                object
country                        object
ticket_issued_date             object
hearing_date                   object
violation_code                 object
violation_description          object
disposition                    object
fine_amount                   float64
admin_fee                     float64
state_fee                     float64
late_fee                      float64
discount_amount               float64
clean_up_cost                 float64
judgment_amount               float64
payment_amount                float64
balance_due                   float64
payment_date                   object
payment_status                 object
collection_status              object
grafitti_status                object
compliance_detail              object
compliance                    float64
lat                           float64
lon                           float64
dtype: object

In [5]:
# Drop all categorical features
cat_feat = ['address', 'agency_name', 'city', 'collection_status', 'compliance_detail', 'country', 'disposition', 'grafitti_status', 'hearing_date', 'inspector_name', 'mailing_address_str_name', 'non_us_str_code', 'payment_date', 'payment_status', 'state', 'ticket_issued_date', 'violation_code', 'violation_description', 'violation_street_name', 'violator_name', 'zip_code']
blight_train.drop(cat_feat, axis=1, inplace=True)
blight_train.head()

,ticket_id,violation_street_number,violation_zip_code,mailing_address_str_number,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,payment_amount,balance_due,compliance,lat,lon
0,24928,0.0,NaN,NaN,200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,42.325689,-83.06433
1,71887,0.0,NaN,NaN,200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,42.325689,-83.06433
2,157969,0.0,NaN,NaN,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,42.325689,-83.06433
3,168151,0.0,NaN,NaN,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,42.325689,-83.06433
4,195261,0.0,NaN,NaN,200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,42.325689,-83.06433

### Exploring Continuous Features

In [6]:
blight_train.describe().T

,count,mean,std,min,25%,50%,75%,max
ticket_id,250306.0,152665.543099,77189.882881,18645.000000,86549.250000,152597.500000,219888.750000,3.661780e+05
violation_street_number,250306.0,10649.858437,31887.331419,0.000000,4739.000000,10244.000000,15760.000000,1.415411e+07
violation_zip_code,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mailing_address_str_number,246704.0,9149.787802,36020.342400,1.000000,544.000000,2456.000000,12927.250000,5.111345e+06
fine_amount,250305.0,374.423435,707.195807,0.000000,200.000000,250.000000,250.000000,1.000000e+04
admin_fee,250306.0,12.774764,9.607344,0.000000,0.000000,20.000000,20.000000,2.000000e+01
state_fee,250306.0,6.387382,4.803672,0.000000,0.000000,10.000000,10.000000,1.000000e+01
late_fee,250306.0,21.494506,56.464263,0.000000,0.000000,10.000000,25.000000,1.000000e+03
discount_amount,250306.0,0.125167,3.430178,0.000000,0.000000,0.000000,0.000000,3.500000e+02
clean_up_cost,250306.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
judgment_amount,250306.0,268.685356,626.915212,0.000000,0.000000,140.000000,305.000000,1.103000e+04
payment_amount,250306.0,48.898986,222.422425,0.000000,0.000000,0.000000,0.000000,1.107500e+04
balance_due,250306.0,222.449058,606.394010,-7750.000000,0.000000,25.000000,305.000000,1.103000e+04
compliance,159880.0,0.072536,0.259374,0.000000,0.000000,0.000000,0.000000,1.000000e+00
lat,250303.0,42.389139,0.038240,41.785926,42.364044,42.392079,42.418848,4.580939e+01
lon,250303.0,-83.111452,0.094370,-88.081348,-83.185490,-83.123886,-83.035374,-8.243359e+01

In [7]:
# summarizing key features by compliance
blight_train.groupby('compliance').mean()

,ticket_id,violation_street_number,violation_zip_code,mailing_address_str_number,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,payment_amount,balance_due,lat,lon
compliance,,,,,,,,,,,,,,,
0.0,151021.067378,10738.746154,NaN,9236.240019,366.319281,20.0,10.0,35.261677,0.008700,0.0,431.580958,56.704938,374.867342,42.389970,-83.111518
1.0,143201.346038,10385.940502,NaN,7826.059101,238.327240,20.0,10.0,13.063430,2.590325,0.0,280.886229,270.415004,8.095180,42.386884,-83.111674

##### Notes on above groupby table

There are some very interesting things to note here

* Compliance is associated with:
 * lower fine amounts
 * lower late fees
 * higher discount amounts
 * lower judgement amounts
 * higher payment amounts, and
 * lower balance due

* It is likely that the direction of correlation is as follows:

 * Variable => Compliance: lower fine amounts, higher discount amounts, lower judgement amounts
 * Compliance => Variable: lower late fees, higher payment amounts, lower balance due

In [8]:
# checking variable averages for null values of compliance
blight_train.groupby(blight_train['compliance'].isnull()).mean()

# not conducting any imputation or histogram plots at this point

,ticket_id,violation_street_number,violation_zip_code,mailing_address_str_number,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,payment_amount,balance_due,compliance,lat,lon
compliance,,,,,,,,,,,,,,,,
False,150453.858794,10713.155166,NaN,9133.713676,357.035295,20.0,10.0,33.651512,0.195959,0.0,420.650218,72.206537,348.263284,0.072536,42.389747,-83.111530
True,156575.968051,10537.945038,NaN,9178.080005,405.167321,0.0,0.0,0.000000,0.000000,0.0,0.000000,7.689476,0.000000,NaN,42.388065,-83.111316

In [9]:
# checking overall compliance rate
blight_train['compliance'].mean()

# compliance rate is roughly 7.25%

0.07253565173880411